# En cada rama de los distintos proyectos hay que modificar este archivo comentando la carpeta del proyecto donde nos encontremos
/bases-node/
/fundamentos-js/
/app-tareas/*
/app-clima/*
/web-server/*

# Archivos que si se conservan de los proyectos
# Solo se conservan los README de las carpetas centrales de los proyectos, el resto no
/*/README.mdu
!**/README.md

# archivos de node
/node_modules/
package-lock.json

